@import "./variables.css";

html {
	height: 100%;
	font-size: 16px;
	font-family: 'Gill Sans MT';
	color: var(--text-color);
}

body {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	align-items: center;
	justify-content: space-around;
	/* background-color: #f1dfd1;
	background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%); */
	background-color: var(--background-color);
	transition: all .2s ease-out;
}

canvas {
	background: white;
	width: 400px;
	height: 400px;
	border-radius: 10px;
	margin-bottom: 30px;
}

/* canvas actually requires both css styles and in-line html styles. read more about this on the Internet */

/* the layout of the page is basically two divs that are contained in a flex container
	they are .game-wrapper and .options-wrapper
*/

.game-wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.options-wrapper {
	/* border: 1px solid black; */
	height: 70%;
}


input[type="checkbox"] {
	appearance: none;
	cursor: pointer;
	outline: none; 
	/*
	* the outline: none property helps to remove the stupid border that appears around the button when clicked
	*/
}

.input-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 350px;
	margin-bottom: 20px;
	position: relative;
}

.input-group label {
	font-size: 1.5rem;
	font-weight: bold;
}

/* STYLING FOR THE DARK MODE SWITCH BUTTON */

.toggle {
	height: 32px;
	width: 65px;
	border-radius: 15px;
	transition: all .2s ease;
	position: relative;	
	border: 2px solid #474755;
	background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
	/* background: black; */
}

.toggle::after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(44,44,44,.2);
	transition: all .2s cubic-bezier(.5,.1,.75,1.35);
	background: white;

}

.toggle:checked {
	border-color: #654FEC;
	background: white;
}

.toggle:checked::after {
	transform: translateX(35px);
	background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);

}

/* the worst thing about making websites is trying to find matching colors. rip ui/ux */