.btn {
	/* -- Options modal buttons -- */
	&--open-modal {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;

		font-family: Poppins;
		font-weight: bold;

		padding: 0.3rem;

		svg {
			margin-left: 1rem;
		}
	}

	&--close-modal {
		margin-left: auto;
		margin-bottom: 1rem;
	
		cursor: pointer;
	}

	/* -- Mobile control buttons -- */
	&--control {
		position: absolute;

		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 50%;
		border: none;

		width: 50px;
		height: 50px;

		transition: 0.2s all ease-in;

		background-color: var(--arrow-background);

		&[data-code="ArrowUp"] {
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		&[data-code="ArrowRight"] {
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		&[data-code="ArrowDown"] {
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		&[data-code="ArrowLeft"] {
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}